<ion-content [fullscreen]="true">
  <section class="reset-password">
    <div class="reset-password__header">
      <app-svg-logo [type]="'default'"></app-svg-logo>
      <h1 class="heading-2 text-bold">Reset Password</h1>
    </div>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="resetPassword()" class="reset-password__form">
      <app-form-control
        [id]="'email'"
        [name]="'email'"
        [type]="'email'"
        [label]="'Email Address'"
        [placeholder]="'example@email.com'"
        [helper]="'Enter the email you used last time to log in'"
        [control]="form.controls['email']"
        [isDisabled]="resetPasswordStatus !== 'default'"
        formControlName="email">
      </app-form-control>
      <app-form-control
        [id]="'password'"
        [name]="'password'"
        [type]="isPasswordVisible ? 'text' : 'password'"
        [label]="'Password'"
        [hasAppend]="true"
        [appendIcon]="isPasswordVisible ? 'eye-off-outline' : 'eye-outline'"
        [helper]="'Minimum 6 characters with at least 1 lower case, 1 upper case and 1 number'"
        [control]="form.controls['password']"
        [isDisabled]="resetPasswordStatus !== 'default'"
        (onClickAppend)="togglePasswordVisibilty('password')"
        formControlName="password">
      </app-form-control>
      <app-form-control
        [id]="'confirmPassword'"
        [name]="'confirmPassword'"
        [type]="isConfirmPasswordVisible ? 'text' : 'password'"
        [label]="'Confirm Password'"
        [hasAppend]="true"
        [appendIcon]="isConfirmPasswordVisible ? 'eye-off-outline' : 'eye-outline'"
        [isDisabled]="form.controls['password'].invalid"
        [control]="form.controls['confirmPassword']"
        [isDisabled]="resetPasswordStatus !== 'default'"
        (onClickAppend)="togglePasswordVisibilty('confirmPassword')"
        formControlName="confirmPassword">
      </app-form-control>
    </form>
    <div class="reset-password__submit">
      <div class="submit__primary">
        <app-form-submit-button
          [title]="'Reset Password'"
          [status]="resetPasswordStatus"
          [isFormValid]="form.valid"
          [loadingTitle]="'Restoring password'"
          [successTitle]="'Password restored'"
          (onClick)="resetPassword()">
        </app-form-submit-button>
      </div>
    </div>
  </section>
</ion-content>