@import "/src/theme/mixins.scss";

.sign-up {
    @include flex(column, 2rem);
    flex: 1;

    &__header {
        @include flex(column, 0);

        app-svg-logo {
            width: 10rem;
        }
    }

    &__error {
        @include flex(row);
        align-items: center;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        color: var(--ion-color-danger);
        background-color: rgba(var(--ion-color-danger-rgb), 0.08);

        ion-icon {
            height: 1.5rem;
            width: 2rem;
        }
    }

    &__form {
        flex: none;
    }

    &__submit {
        @include flex(column, 2rem);

        .submit__primary {
            @include flex(column, 0.5rem);

        }
    }

    @media screen and (min-width: 768px) {
        max-width: 50rem;
    }
}

a {
    text-decoration: none;
    color: var(--ion-color-primary);
}